# Maven
/target/
*.log
*.tmp
*.bak
*.swp

# NetBeans
nbproject/private/
build/
dist/
nbdist/
.build.xml
.nb-gradle/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Compiled class files
*.class

# Config
config.properties